<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.stripe.android"
          android:versionCode="25"
          android:versionName="7.1.0"
>

    <dist:module dist:instant="false" dist:onDemand="false"
                 dist:title="Stripe">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".view.AddSourceActivity"
            android:theme="@style/StripeDefaultTheme"
            android:windowSoftInputMode="stateVisible"
            >

        </activity>

        <activity
            android:name=".view.PaymentMethodsActivity"
            android:theme="@style/StripeDefaultTheme"
            >
        </activity>

        <activity
            android:name=".view.PaymentFlowActivity"
            android:theme="@style/StripeDefaultTheme"
            >
        </activity>
    </application>

</manifest>
